
.breadcrumbBgImage {
    /*background-image: url('./bg-1.jpg');*/
    /*height: 150px;*/
    /*background-repeat: no-repeat;*/
    position: relative;
    height: 300px;
    max-height: 400px;
}

.breadcrumbBg {
     background: #7F7FD5;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.customBreadcrumb {
    padding-top: 30px;
    padding-bottom: 30px;

}

.customBreadcrumbLink {
    font-size: 16px;
    text-decoration: none;
    color: #0a0739;
    font-weight: 500;
}
.customBreadcrumbLink a:hover{
    color: #fff;
}

.breadcrumbImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ant-breadcrumb a:hover {
    color: #fff !important;
}
