.App {
    text-align: center;
}
body{
    overflow-x: hidden;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.font-xs {
    font-size: .8em;
}

.style_submenuHeading__3yScw {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #1163b0 !important;
    line-height: 1.14;
    padding-left: 0.5rem !important;
}

.subMenu > li {
    margin: 14px 0px 11px 0 !important;
}

.style_submenuItem__10jP0 a h4 {
    font-size: 1rem !important;
}

.megaMenu {
    background-color: #ffff !important;
    width: 100% !important;
}

.anticon svg {
    display: none !important;
}

/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.site-footer {
    background-color: #1b2429 !important;
}

.footer-links li a {
    color: gray;
}

.footer-links li a:hover {
    color: white;
}

/*░░░░░░░░░░░░░░░░░░░░░░ scroll bar ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 4px !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb {
    background-color: gray !important;
}




